
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;}
    
    h2{
        color: white;
        font-weight: 400;
        display: flex;
        position: fixed;
        top: 0;
        width: 100%;
        padding: .5rem;
        background-color : #065795;


    }
    span{
        font-weight: bold;
        margin-left: 0.5rem;
    }
    ul{
        position: fixed;
        top: 0;
        width: 100%;
        list-style: none;
        margin-left: 2rem;
        justify-content: center;
        display: flex;
        font-size: 25px;
    }
    li{
        margin-right: 1rem;
        cursor: pointer;
    }
    a{
        color: white;   
    }

